html,
body {
  font-size: 16px;
  font-family: "Urbanist", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Montserrat Alternates", sans-serif;
}

h1 {
  font-size: 1.999rem;
  color: #1d1d1d;
}

h2 {
  font-size: 1.777rem;
  color: #1d1d1d;
}

h3 {
  font-size: 1.333rem;
  color: #f05600;
}

h4 {
  font-size: 1rem;
  color: #1d1d1d;
}

h5 {
  font-size: 1rem;
  color: #1d1d1d;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.04em;
}

p,
span {
  font-family: "Urbanist", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: 0.06em;
  color: #1d1d1d;
}
